.bold {
  font-size: 14px !important;
  line-height: 16px;
  color: #111517;
  margin-right: 6px;
  font-weight: bold;
}

.borders-heading {
  font-size: 16px;
}

.back-link {
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  color: black;
  margin-right: 6px;

  &:hover {
    color: black;
  }
}

.link-container {
  margin-right: 5px;
  height: 28px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
