@import './variables';

/* Card */

.card {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 264px;
}

.card-image {
  width: 100%;

  .image {
    width: 100%;
    min-height: 160px;
    max-height: 160px;
    border-radius: 5px 5px 0 0;
  }

  .flag {
    width: 100% !important;
    height: 100% !important;
    border-radius: 5px 5px 0 0 !important;
  }
}

.card-body {
  .card-title {
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: $VeryDarkBlue2;
  }
  .card-text {
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  span {
    font-style: bold;
    opacity: 1 !important;
  }
}

/* Card end*/

.country-input {
  height: 48px;
  border-radius: 5px;
}

.icon {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 30px;
}

.detail-card-image {
  width: 100%;
  height: 100%;
}
