.form-select {
  height: 48px;
  border: 1px solid red !important;
}

.form-control {
  border: none !important;
  outline: none !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* mobile  */
@media only screen and (max-width: 767px) {
  .country-input {
    margin-top: 30px;
  }

  .dark {
    font-size: 12px !important;
  }

  .form-select {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .form-select {
    margin-top: 48px;
  }
}
